.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
        
    padding-bottom: 20px;
}

.form-container{
  margin-top: 150px;
    width: 50%;
    background-color :#7C7D9F;
    height: 500px;
}
.form-hold{
  /* margin-top: 50px; */
    padding: 30px;
    border-radius: 20px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 20px; */
}
.error-message {
    color: white;
    font-size: 15px;
    text-align: center;
  }
  label{
    display: flex;
  }
  input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .main-sign{
    text-align: center;
  }

  .welcome-message{
    text-align: center;
    color: white;
    font-size: 50px;
  }

  @media (max-width: 767px) {
    .form-container{
       /* height: ; */
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       background-color:#7C7D9F;
       width: 100%;
    }
    .center-container{
      padding-bottom: px;
    }
     }