
.first-texts{
    /* width: 100%; */
    /* background-color: blue; */
    margin-top: 100px;
}
.firsts-h1{
    color: #000;
    font-family: Tahoma;
    font-size: 30px;
}
.firsts-p{
    color: black;
    /* font-size: 10px; */
    font-size: 15px;
}