.container-fluid{
    width: 80%;
    color: gold;
    height: 610px;
}

li{
    list-style: none;
    color: white;
}
.icons{
    width:20%;
    display: flex;
    gap: 5px;
}
.logo{
    border: 5px solid white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
}
.p{
    color: white;
}
.sign{
    background-color: transparent;
    color: white;
    width: 100px;
    border: 1px solid white;
    border-radius: 360px;
    height: 50px;
}
.sign:hover{
    background-color: white;
    color: black;
}

.logo:hover{
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .icons{
        display: flex;
        flex-direction: column  ;
        
    }
    .bro{
        width: 340px;
        display:flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .bro ul{
        width: 50%;
    }
    .bros{
        width: 100%;
    }
    .h{
        display: none;
    }
    hr{
        width: 100%;
    }
    .king{
        width: 100%;
    }
    .king h5{
        width: 100%;
    }
    .king p{
        font-size: 15px;
        width: 100%;
    }
  }