body {
  margin: 0;
  /* font-family: "Spinnaker", sans-serif; */
  /* font-family: "Oxygen", sans-serif; */
  font-family: "Montserrat Alternates", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #6504B5 ;
}
